.container {
  margin-top: 20px;

  img {
    max-width: 100%;
    height: auto;
  }

  h2 {
    font-size: 24px;
    margin-top: 10px;
  }

  .text-muted {
    font-size: 16px;
  }

  .quantity-controls {
    display: flex;
    align-items: center;
    .quantity {
      margin: 0 10px;
      margin-top: 1rem;
      font-size: 20px;
    }
    button {
      font-size: 20px;
      padding: 0 10px;
    }
  }

  .btn-primary {
    margin-top: 20px;
    margin-right: 10px
  }

  .btn-success {
    margin-top: 16px; // Adjust spacing for the "Back to Store" button

  }
  .product-image-container {
    text-align: center;
    max-width: 100%; /* This will make sure the container takes the width of the column */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Fixed height, or you can use aspect-ratio property */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden; /* In case the image is larger than the container */
  }

  .product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures that the whole image is visible, scaled to fit */
  }
}
