/* Customize your navbar styles here */
.navbar {
  background-color: #fff; /* Background color */
  border-bottom: 1px solid #ddd; /* Bottom border */
}

.navbar-brand {
  font-size: 1.5rem; /* Logo font size */
  font-weight: bold; /* Logo font weight */
}



/* Style for the cart count badge */
/* Style for the cart count badge */
.cart-badge {
  background-color: rgb(210, 74, 74);
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;

  position: absolute; /* Use absolute positioning within the relative parent */
  top: -8px;/* Adjust this value to move the badge up */
  right:0; /* Adjust this value as needed to align it above the cart icon */
  transform: translateX(50 ,-50%); /* Use transform to precisely position the badge */
  z-index: 1; /* Ensure the badge is displayed above other content */
}
.navbar-nav .nav-item {
  position: relative; /* Add position relative here */
  margin-right: 15px; /* Adjust the right margin between navbar items */
}

.navbar-nav .nav-link {
  color: #333; /* Navbar item text color */
  font-weight: bold; /* Navbar item text font weight */
  transition: color 0.3s; /* Transition effect on hover */
}


/* Add active link styles */
.navbar-nav .nav-item .nav-link.active {
  color: #007bff; /* Active link text color */
  font-weight: bold; /* Active link font weight */
}
